extends layout

block content
  link(href='/stylesheets/list.css', rel='stylesheet')
  script(src='/javascripts/bootstrap.js', type='text/javascript')
  script(src='/javascripts/bootstrap-select.js', type='text/javascript')
  link(href='/stylesheets/bootstrap-select.css', rel='stylesheet')

  div#header.center-block
    div#left_link
      a(href='/'). &#10094; HOME
    | Group List

  div#index_content.center-block
    ul#groups_list
      each group in groups
        li
          a(href='/groups/#{group.id}'). #{group.name} (#{group.num_trials} trials)
    br

    form#add_group(action='/groups/', method='post', role='form')
      div.input-group.input-group-lg
        span.input-group-addon. NAME: 
        input#name.form-control(type='text', name="name")
        span.input-group-btn
          button.btn.btn-default(type='submit'). ADD GROUP
