extends layout

block content
  script(type='text/javascript').
    var groups = !{JSON.stringify(groups)}

  h1. Groups
  div#groups
    each group in groups
      a(href='/groups/#{group.id}'). #{group.name}
      br
  br
