extends layout

block content
  link(href='/stylesheets/status.css', rel='stylesheet')
  script(src='/javascripts/bootstrap.js', type='text/javascript')
  script(src='/javascripts/bootstrap-select.js', type='text/javascript')
  link(href='/stylesheets/bootstrap-select.css', rel='stylesheet')
  script(type='text/javascript').
    var groups = !{JSON.stringify(groups)}

  div#manikin-info.center-block.waiting
    div#left_link
      a(href='/groups/'). LEADERBOARDS
    | Waiting for mani
    span#can. can 
    | connection

  div.index_content#instructions
    div.center-block
      img#logo(src='/images/logo.png')
      div#instructions_header
        | INSTRUCTIONS
      ol
        li. Plug in ManiCan
        li. Wait for blue power light to turn on
        li. Press "Start" button

  div.index_content#form
    div#trial_type_form.center-block
      div.row
        div.col-md-6.col-sm-6.col-xs-6.center
          button#prof_button.btn.btn-default.btn-lg.trial_input_btn(type='button')
            | MEDICAL PROFESSIONAL
        div.col-md-6.col-sm-6.col-xs-6.center
          button#non_prof_button.btn.btn-default.btn-lg.trial_input_btn(type='button')
            | NON MEDICAL PROFESSIONAL
    div#non_prof_input_form.center-block.input_form
      form(action='live', method='post', role='form', class='form-horizontal')
        input(type='hidden', name='type', value='non_prof')
        div.form-group
          label.control-label(for='username'). Username
          div#username-content
            input#username.form-control.input-lg(type='text', name='username')
          br
          input#add_to_group_nonprof(type='hidden', name='add_to_group', value='no')
          button.btn.btn-md.btn-default#group_button_nonprof(type='button')
            | ADD TO GROUP
        div.form-group#group_controls_nonprof
          select.selectpicker#group_name(name='group_name')
            each group in groups
              option(value='#{group.id}')= group.name
        div.row.form-group
          div.col-md-6(style='padding-left: 0px;')
            label.control-label(for='mins'). Session length 
            div#time-content.input-group
              input#time-input.form-control.input-lg(type='text', name='mins')
              div.input-group-addon. mins
              input#time-input.form-control.input-lg(type='text', name='secs')
              div.input-group-addon. secs
        div.form-group
          label.control-label(for='capno'). Starting score
          div#capno-content
            input#capno-input.form-control.input-lg(type='text', name='capno')
        input.btn.btn-default(type='submit', value='Start trial')

    div#prof_input_form.center-block.input_form
      form(action='live', method='post', role='form', class='form-horizontal')
        input(type='hidden', name='type', value='prof')
        div.form-group
          label.control-label(for='username'). Username
          div#username-content
            input#username.form-control.input-lg(type='text', name='username')
          br
          input#add_to_group_prof(type='hidden', name='add_to_group', value='no')
          button.btn.btn-md.btn-default#group_button_prof(type='button')
            | ADD TO GROUP
        div.form-group#group_controls_prof
          select.selectpicker#group_name(name='group_name')
            each group in groups
              option(value='#{group.id}')= group.name
        div.row.form-group
          div.col-md-6(style='padding-left: 0px;')
            label.control-label(for='mins'). Session length 
            div#time-content.input-group
              input#time-input.form-control.input-lg(type='text', name='mins')
              div.input-group-addon. mins
              input#time-input.form-control.input-lg(type='text', name='secs')
              div.input-group-addon. secs
        div.form-group
          label.control-label(for='capno'). Starting capno score
          div#capno-content
            input#capno-input.form-control.input-lg(type='text', name='capno')
        input.btn.btn-default(type='submit', value='Start trial')

  script(type='text/javascript').
    $('.selectpicker').selectpicker();

    var socket = io();

    socket.on('bbb_connect', function() {
      console.log('bbb connected');
      $("#instructions").fadeOut();
<<<<<<< HEAD
      $("#manikin-info").html("Mani<span id='can'>Can</span> connected");
=======
      $("#manikin-info").html("ManiCan connected");
>>>>>>> 6e20573e43190aee5f2bf7656fb5df85921765fc
      $("#manikin-info").addClass("connected");
      window.setTimeout( function() {
        $("#trial_type_form").slideDown();
      }, 500);
    });

    $("#prof_button").on('click', function() {
      if ($("#non_prof_button").hasClass("selected")) { 
        $("#non_prof_button").toggleClass("selected");
      }
      $(this).toggleClass("selected");
      $("#non_prof_input_form").hide();
      $("#prof_input_form").show();
    });

    $("#non_prof_button").on('click', function() {
      if ($("#prof_button").hasClass("selected")) { 
        $("#prof_button").toggleClass("selected");
      }
      $(this).toggleClass("selected");
      $("#prof_input_form").hide();
      $("#non_prof_input_form").show();
    });

    $("#group_button_nonprof").click( function() {
      $(this).toggleClass("selected");
      $("#group_controls_nonprof").slideToggle();
      if ($("#add_to_group_nonprof").val() == "no") {
        $("#add_to_group_nonprof").val("yes");
      } 
      else {
        $("#add_to_group_nonprof").val("no");
      }
    });

    $("#group_button_prof").click( function() {
      $(this).toggleClass("selected");
      $("#group_controls_prof").slideToggle();
      if ($("#add_to_group_prof").val() == "no") {
        $("#add_to_group_prof").val("yes");
      } 
      else {
        $("#add_to_group_prof").val("no");
      }
    });
