extends layout

block content
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='/socket.io/socket.io.js')

  div#connect

  br
  br

  form(action='/post', method='post', role='form')
    div.form-group
      label(for='time'). Session length 
      input#time.form-control(type='text')
    div.form-group
      label(for='capno'). Starting capno score
      input#capno.form-control(type='text')
    input.btn.btn-default(type='submit', value='submit')

  script(type='text/javascript').
    var socket = io();

    socket.on('bbb_connect', function() {
      console.log('bbb connected');
      $("#connect").html("Manikin connected!");
    });
