extends layout

block content
  div#links
 
  script(type='text/javascript').
      var list = !{JSON.stringify(list)}
      var i = 0;
 
      for (i = 0; i < list.length; i++){
          var html = list[i].username + ": " + list[i].datetime + "<a href='/trial_nonmed/" + list[i]._id + ">View Non-med</a><br />";
          $("#links").append(html);
      }


