extends layout

block content
  script(src='/socket.io/socket.io.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js', charset='utf-8')
  link(href='/stylesheets/metricsgraphics.css', rel='stylesheet')
  link(href='/stylesheets/highlightjs-default.css', rel='stylesheet')
  link(href='/stylesheets/keen-dashboards.css', rel='stylesheet')
  link(href='/stylesheets/status_nonmed.css', rel='stylesheet')
  script(src="//code.highcharts.com/highcharts.js")
  script(src="//code.highcharts.com/highcharts-more.js")
  script(src="//code.highcharts.com/modules/solid-gauge.js")
  div.container-fluid
    div.row
      div.col-sm-2.col-md-1.top_row
        div.chart-wrapper
          div.chart-title
            | Time
          div.chart-stage
            div#time
      div.col-sm-12.col-md-6.top_row
        div.chart-wrapper.depth
          div.chart-title
            | Rate
          div.chart-stage
            div#compressions_gauge
            div#faster.disabled
              | PUSH
              | FASTER
            div#rate.rate_and_depth
            div#slower.disabled
              | PUSH 
              | SLOWER
      div.col-sm-12.col-md-5.top_row
        div.chart-wrapper
          div.chart-title
            | Depth
          div.chart-stage#depth-stage
            div#depth_gauge
            div#depth.rate_and_depth
            div#harder
              | PUSH
              | HARDER
            div#softer
              | PUSH
              | SOFTER
    div.row
      div.col-sm-8.bottom_row
        div.chart-wrapper
          div.chart-title
            | Compressions graph
          div.chart-stage#compressions_stage
            div#compressions
      div.col-sm-4.bottom_row
        div.chart-wrapper.score
          div.chart-title
            | Score
          div.chart-stage#capno_stage
            | SCORE:
            div#capno
            br
            div#capnography
  div#overlay
  div.begin_box.waiting_manikin
    span#begin_text. WAITING FOR MANIKIN
  script(src='/javascripts/keen.js', type='text/javascript')
  script(src='/javascripts/metricsgraphics.min.js')
  script(src='/javascripts/lib/highlight.pack.js')
  script(type='text/javascript').
    var compressions_chart = new Highcharts.Chart({
      chart: {
        renderTo: 'compressions_gauge',
        type: 'gauge',
        plotBorderWidth: 0,
        plotBackgroundColor: null,
        backgroundColor: null,
        height: 270,
        style: {
          fontFamily: 'Lato'
        }
        },

        title: {
          text: ''
        },

        tooltip: {
          enabled: false
        },

        pane: [{
          startAngle: -60,
            endAngle: 60,
            background: null,
            center: ['50%', '60%'],
            size: '95%'
        }],

        yAxis: [{
          min: 60,
            max: 150,
            minorTickPosition: 'outside',
            minorTickLength: 5,
            tickLength: 10,
            tickPosition: 'outside',
            labels: {
              rotation: 'auto',
                distance: 20
            },
            plotBands: [{
              from: 0,
                to: 85,
                color: '#C02316',
                innerRadius: '100%',
                outerRadius: '110%'
            },
            { from: 100,
                to: 120,
                color: '#00C900',
                innerRadius: '100%',
                outerRadius: '110%'},
            { from: 85,
                to: 100,
                color: '#e6ff08',
                innerRadius: '100%',
                outerRadius: '110%'},
            { from: 120,
                to: 135,
                color: '#e6ff08',
                innerRadius: '100%',
                outerRadius: '110%'},
            { from: 135,
                to: 160,
             color: '#C02316',
             innerRadius: '100%',
             outerRadius: '110%'}],
            pane: 0,
            title: {
              text: '',
                y: -40
            }
        }],

        plotOptions: {
          gauge: {
            dataLabels: {
              enabled: false
                },
                dial: {
                  radius: '115%'
                }
            }
        },


        series: [{
          data: [0],
            yAxis: 0
        }]

    });

  script(src='/javascripts/index2.js')
