extends layout

block content
  script(src='/socket.io/socket.io.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js', charset='utf-8')
  link(href='/stylesheets/status_nonmed.css', rel='stylesheet')
  link(href='/stylesheets/metricsgraphics.css', rel='stylesheet')
  link(href='/stylesheets/highlightjs-default.css', rel='stylesheet')
  link(href='/stylesheets/keen-dashboards.css', rel='stylesheet')
  div.container-fluid
    div.row
      div.col-sm-6.col-md-4
        div.chart-wrapper
          div.chart-title
            | Stats
          div.chart-stage
            div#status
              | Time: 
              div#time
              br
              | Score:
              div#capno
              br
              | Rate: 
              div#rate.good
              br
              | Depth: 
              div#depth.good
              br
          div.chart-notes
      div.col-sm-6.col-md-4
        div.chart-wrapper
          div.chart-title
            | Depth
          div.chart-stage
            div#depth_gauge_window
              canvas#depth_gauge
            div#curr_depth
    div.row
      div.col-sm-8
        div.chart-wrapper
          div.chart-title
            | Compressions
          div.chart-stage#compressions_stage
            div#compressions
          div.chart-notes
            | Chart notes
      div.col-sm-4
        div.chart-wrapper
          div.chart-title
            | Score
          div.chart-stage#capno_stage
            div#capnography
          div.chart-notes
            | Chart notes
  div#overlay
  div.begin_box.waiting_manikin
    span#begin_text. WAITING FOR MANIKIN
  div.ended_box
    span#ended_text. TRIAL ENDED
  script(src='/javascripts/keen.js', type='text/javascript')
  script(src='/javascripts/index2.js')
  script(src='/javascripts/metricsgraphics.min.js')
  script(src='/javascripts/lib/highlight.pack.js')
  script(src='/javascripts/gauge.js', type='text/javascript')
  script(src='/javascripts/depth.js')
