extends layout

block content
  script(src='/socket.io/socket.io.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js', charset='utf-8')
  link(href='/stylesheets/metricsgraphics.css', rel='stylesheet')
  link(href='/stylesheets/highlightjs-default.css', rel='stylesheet')
  link(href='/stylesheets/keen-dashboards.css', rel='stylesheet')
  link(href='/stylesheets/status_nonmed.css', rel='stylesheet')
  script(src="//code.highcharts.com/highcharts.js")
  script(src="//code.highcharts.com/highcharts-more.js")
  script(src="//code.highcharts.com/modules/solid-gauge.js")
  div.container-fluid
    div.row
      div.col-md-8#left-col
        div.row
          div.col-sm-2.col-md-2.top_row
            div.chart-wrapper
              div.chart-title
                | Time
              div.chart-stage
                div#time
          div.col-sm-12.col-md-10.top_row
            div.chart-wrapper.rate
              div.chart-title
                | Rate
              div.chart-stage
                div#compressions_gauge
                div#faster.disabled
                  | PUSH
                  | FASTER
                div#rate.rate_and_depth
                div#slower.disabled
                  | PUSH 
                  | SLOWER
        div.row
          div.col-md-12
            div.chart-wrapper
              div.chart-title
                | Compressions graph
              div.chart-stage#compressions_stage
                div#compressions
      div.col-md-4#right-col
        div.row
          div.col-sm-12.col-md-12
            div.chart-wrapper.depth
              div.chart-title
                | Depth
              div.chart-stage#depth-stage
                div#depth_gauge
                div#depth.rate_and_depth
                div#harder.disabled
                  | PUSH
                  | HARDER
                div#softer.disabled
                  | PUSH
                  | SOFTER
          div.col-sm-12.col-md-12
            div.chart-wrapper.score
              div.chart-title
                | Score
              div.chart-stage#capno_stage
                span#score_label. SCORE
                div#capno
                br
                div#capnography
  div#overlay
  div.begin_box.waiting_manikin
    span#begin_text. WAITING FOR MANIKIN
  script(src='/javascripts/keen.js', type='text/javascript')
  script(src='/javascripts/metricsgraphics.min.js')
  script(src='/javascripts/lib/highlight.pack.js')
  script(src='/javascripts/compressions_chart.js')
  script(src='/javascripts/depth_chart.js')
  script(src='/javascripts/index2.js')
