extends layout

block content
  script(src='//code.highcharts.com/highcharts.js')
  script(src='//code.highcharts.com/modules/exporting.js')
  script(src='/socket.io/socket.io.js')
  link(href='/stylesheets/status.css', rel='stylesheet')
  div#status
    h1#title Status
    | Time: 
    div#time
    br
    | Capno:
    div#capno
    br
    | Rate: 
    div#rate.good
    br
    | Depth: 
    div#depth.good
    br
  div#container(style='min-width: 300px; height: 400px; margin: 0 auto')
  script(src='/javascripts/index.js', type='text/javascript')
