extends layout

block content
  script(src='/socket.io/socket.io.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js', charset='utf-8')
  link(href='/stylesheets/status_nonmed.css', rel='stylesheet')
  link(href='/stylesheets/metricsgraphics.css', rel='stylesheet')
  link(href='/stylesheets/highlightjs-default.css', rel='stylesheet')
  link(href='/stylesheets/keen-dashboards.css', rel='stylesheet')
  div.container-fluid
    div.row
      div.col-sm-8
        div.chart-wrapper
          div.chart-title
            | Compressions
          div.chart-stage#compressions_stage
            div#compressions
          div.chart-notes
            | Chart notes
      div.col-sm-4
        div.chart-wrapper
          div.chart-title
            | Capno
          div.chart-stage#capno_stage
            div#capnography
          div.chart-notes
            | Chart notes
    div.row
      div.col-sm-6.col-md-4
        div.chart-wrapper
          div.chart-title
            | Stats
          div.chart-stage
            div#status
              | Time: 
              div#time
              br
              | Capno:
              div#capno
              br
              | Rate: 
              div#rate.good
              br
              | Depth: 
              div#depth.good
              br
          div.chart-notes
  div#begin. BEGIN IN 3
  div#ended. TRIAL ENDED
  script(src='/javascripts/keen.js', type='text/javascript')
  script(src='/javascripts/index2.js')
  script(src='/javascripts/metricsgraphics.min.js')
  script(src='/javascripts/lib/highlight.pack.js')
