extends layout

block content
  script(src='/socket.io/socket.io.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js', charset='utf-8')
  link(href='/stylesheets/status_nonmed.css', rel='stylesheet')
  div#mp50
    img(src='/images/mp50.png')
    div#capno_container
      span#capno. 30
  div#begin. BEGIN IN 3
  div#ended. TRIAL ENDED
  script(type='text/javascript').
    var socket = io();

    socket.on('status_msg', function(status_msg){
      var capno = parseFloat(status_msg.capno);
      $("#capno").html(capno);
    });

    $(window).on('resize', function() {
      var width = $("#mp50 img").width();
      console.log(width);
      // TODO: handle dynamic resizing
      $("#capno_container").css('font-size', width/12 + "px");
    });
