extends layout

block content
  link(href='/stylesheets/list.css', rel='stylesheet')
  script(src='/javascripts/bootstrap.js', type='text/javascript')
  script(src='/javascripts/bootstrap-select.js', type='text/javascript')
  link(href='/stylesheets/bootstrap-select.css', rel='stylesheet')

  div#header.center-block
    | Trial List
  
  div#index_content.center-block
    ul#trials_list
      each trial in trials
        li
          | #{trial.username} on #{trial.dt}: 
          a(href='/trials_nonmed/#{trial._id}'). View Non-med/
          a(href='/trials_med/#{trial._id}'). View Med
