body {
  padding-top: 10px;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  background-color: #DBDBDB;
  padding-left: 0px;
}

#index_content {
  padding-top: 130px;
  width: 100%;
  height: 100%;
}

.chart-wrapper {
  background-color: #DBDBDB;
  border: 2px solid #ABABAB;
}

.chart-wrapper .chart-title {
  font-size: 20px;
  font-family: 'Lato';
  text-transform: uppercase;
  font-weight: 600;
}

#status {
  padding: 10px;
  font-family: 'Lato', "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  line-height: 2.1;
  margin-left: auto;
  margin-right: auto;
}

#status div {
  width: 100px;
  height: 38px; 
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 12px;
  line-height: 1.7;
  position: absolute;
  left: 137px;
}

#overlay {
  width: 100%;
  height: 117%;
  font-size: 18px;
  text-align: center;
  background-color: #000;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  opacity: .7;
}

.begin_box {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: green;
  text-align: center;
  font-size: 39px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  width: 550px;
  height: 130px;
  color: white;
  transition: background-color .5s;
  border-radius: 3px;
  text-shadow: 0px 0px 3px #444;
}

#begin_text {
  position: relative;
  top: 28%;
}

.waiting_manikin {
  background-color: gray;
}

.ended {
  background-color: red;
}

#compressions {
  margin-top: 100px;
}

#status #time, #status #capno {
  border: 1px solid black;
  width: 100px;
}

#time-input {
  text-align: right;
}

#capno_input {

}

.good {
  background-color: green;
  color: black;
}

.bad {
  background-color: red;
  color: white;
}

.input_form {
  width: 500px;
  position: relative;
  display: none;
}

#prof_input_form {
}

#non_prof_input_form {
}

.form-horizontal .control-label {
  margin-bottom: 6px;
  font-size: 15px;
}

#group_controls {
  display: none;
}

#trial_type_form {
  max-width: 500px;
  transition: opacity .5s;
  position: relative;
  display: none;
  margin-bottom: 30px;
}

.trial_input_btn {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: .25px;
  transition: background-color .5s;
  transition: color .5s;
  background-color: #c6c6c6;
}

.selected, .selected:focus {
  background-color: #939393;
  color: white;
  outline: none;
}

#prof_button {
}

#non_prof_button {
}

.trial_input_btn:hover {
  background-color: #b8b8b8;
}

.selected:hover {
  background-color: #939393;
}

.center {
  text-align: center;
}

.input_disabled {
  opacity: .5;
}

.input_connected {
  background-color: white;
  opacity: 1;
}

#manikin-info {
  position: fixed;
  z-index: 100;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 100px;
  padding-top: 33px;
  font-size: 22px;
  text-align: center;
  font-family: 'Lato';
  font-weight: 600;
  transition: background-color 1s;
  transition: color 1s;
}

.waiting {
  color: #868686;
  background-color: #c9c9c9;
}

.connected {
  background-color: green;
  color: white;
}

.chart_title {
  display: none;
}
