body {
  padding-top: 0px;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  background-color: #DBDBDB;
  padding-left: 0px;
}

#index_content {
  padding-top: 130px;
  width: 100%;
  height: 100%;
}

#status {
  padding: 10px;
  font-family: "Helvetica", "Arial", sans-serif;
  height: 300px;
  font-size: 20px;
  line-height: 2.1;
  margin-left: auto;
  margin-right: auto;
}

#status div {
  width: 100px;
  height: 38px; 
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 12px;
  line-height: 1.7;
  position: absolute;
  left: 137px;
}

#begin {
  width: 160px;
  height: 60px;
  font-size: 18px;
  padding: 18px;
  text-align: center;
  background-color: green;
  color: white;
  position: absolute;
  top: 50px;
  left: 400px;
  display: none;
}

#ended {
  width: 160px;
  height: 60px;
  font-size: 18px;
  padding: 18px;
  text-align: center;
  background-color: red;
  color: white;
  position: absolute;
  top: 50px;
  left: 400px;
  display: none;
}

#capnography {
  position: absolute;
  top: 10px;
  left: 500px;
}

#compressions {
  margin-top: 100px;
}

#status #time, #status #capno {
  border: 1px solid black;
  width: 100px;
}

#time-input {
  text-align: right;
  width: 80%;
}

#capno_input {

}

.good {
  background-color: green;
  color: black;
}

.bad {
  background-color: red;
  color: white;
}

#prof_input_form {
  width: 50%;
  min-width: 500px;
  transition: opacity .5s;
  position: relative;
  display: none;
}

#non_prof_input_form {
  width: 500px;
  transition: opacity .5s;
  position: relative;
  display: none;
}

#trial_type_form {
  width: 50%;
  transition: opacity .5s;
  position: relative;
  display: none;
  margin-bottom: 30px;
}

.btn-default {
  background-color: #c6c6c6;
}

.selected, .selected:focus {
  background-color: #939393;
  color: white;
  outline: none;
}

.center {
  text-align: center;
}

.input_disabled {
  opacity: .5;
}

.input_connected {
  background-color: white;
  opacity: 1;
}

#overlay {
  position: absolute;
  top: -15px;
  bottom: -15px;
  right: -15px;
  left: -15px;
  background-color: gray;
  opacity: .3;
  border-radius: 4px;
}

#manikin-info {
  position: fixed;
  z-index: 100;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 100px;
  padding-top: 33px;
  font-size: 22px;
  text-align: center;
  font-family: 'Lato';
  font-weight: 600;
  transition: background-color 1s;
  transition: color 1s;
}

.waiting {
  color: #868686;
  background-color: #c9c9c9;
}

.connected {
  background-color: green;
  color: white;
}

.chart_title {
  display: none;
}
